@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Inter';
  src: url('/public/fonts/Inter_18pt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


:root {
  --primary: #2b214f;
  --secondary: #171717;
}

body {
  color: var(--primary);
  background-color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-inter), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
